<style>
  table {
    border-collapse: collapse;
  }

  th, td {
    padding: 8px;
    border: 1px solid black;
  }

  th {
    background-color: #ddd;
  }
</style>


<h1>All assignments</h1>
<table>
  <thead>
    <tr>
      <th>Team</th>
      <th>Census(after assignment)</th>
      <th>Capacity</th>
      <th>Patients</th>
    </tr>
  </thead>
  <tbody>
    <% @all_teams.each do |team| %>
      <tr>
        <td><%= team.team_type %></td>
        <td><%= team.census %></td>
        <td><%= team.capacity %></td>
        <% team.patients.each do |patient| %>
          <td><%= patient.name %> - <%= patient.patient_type %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<h1>All Patients Types (after assignment)</h1>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Patient Type</th>
      <th>Team</th>
    </tr>
  </thead>
  <tbody>
    <% @all_patients.each do |patient| %>
      <tr>
        <td><%= patient.name %></td>
        <td><%= patient.patient_type %></td>
        <td><%= patient.team.try(:team_type) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
