<h1>All Teams</h1>
<ul>
  <% @all_teams.each do |team| %>
    <li>
      <%= team.team_type %>
    </li>
    <% team.patients.each do |patient| %>
      <li>
        <%= patient.name %> - <%= patient.patient_type %>
      </li>
    <% end %>
  <% end %>
</ul>


<h1>All Patients</h1>
<ul>
  <% @all_patients.each do |patient| %>
    <li>
      <%= patient.name %> - <%= patient.patient_type %>
    </li>
  <% end %>
</ul>

